body{
    font-family: Arial;
}

.todoGrid, .Inputgrid{
    display: grid;
    grid-template-columns: 180px 130px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.Inputgrid{
    margin-bottom: 10px;
    align-items: stretch;
}

.listInput, .dateInput{
    font-size: 15px;
    padding: 6px;
}

.addButton{
    border: none;
    color: white;
    background-color: green;
    font-size: 15px;
    cursor: pointer;
}

.deleteButton{
    border: none;
    color: white;
    background-color: darkred;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 16px;
}

.checkbox{
    cursor: pointer;
}